<md-sidenav-container>
  <md-sidenav #sidenav class="sidenavi-menu">
    <md-nav-list class="sidenavi-menu-list">
      <md-toolbar color="primary" class="shadow-toolbar">
        <button md-icon-button (click)="sideNaviToggle()">
          <md-icon>arrow_back</md-icon>
        </button>
        <span>メニュー</span>
      </md-toolbar>
      <h3 md-subheader>グループ1</h3>
      <md-list-item *ngFor="let item of naviLinkList">
        <a md-line>{{item.title}}</a>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <div class="container-root">
    <div class="container-header">
      <md-toolbar color="primary" class="shadow-toolbar">
        <button md-icon-button (click)="sideNaviToggle()">
          <md-icon>menu</md-icon>
        </button>
        <span>タイトル</span>
      </md-toolbar>
    </div>

    <div class="container-body">
      <md-card class="card-content">
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
      </md-card>
    </div>
    <div class="container-footer">
      <md-toolbar>
        <span>Copyright (c) 2017 xxxx</span>
      </md-toolbar>
    </div>
  </div>
</md-sidenav-container>

